@charset "UTF-8";
.site-nav,
.auth-nav, .features, .posters, .workers, .social-list, .klient-list, .auth-footer, .button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo, .logo-secondary, .logo-secondary-footer, .footer-logo, .site-nav__link, .auth-nav__link, .social-list__links, .klient-list__links, .auth-footer__link {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-style: normal;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.page-header {
  background-color: #ffffff;
  margin-bottom: 0%;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.logo, .logo-secondary, .logo-secondary-footer, .footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo {
  color: #2094f3;
  display: inline-block;
}

.logo-secondary {
  color: #212121;
}

.logo-secondary-footer {
  color: #ffffff;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.menu,
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav,
.auth-nav {
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
}

.site-nav__link,
.auth-nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
}

.site-nav__link {
  color: #212121;
}

.site-nav__link.current {
  position: relative;
  color: #2094f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2094f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav,
.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  margin-left: auto;
}

.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

/* Иконки Tel, mail */
.auth-nav__link {
  fill: currentColor;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2094f3;
}

.auth-nav__icon {
  margin-right: 10px;
}

/* Подчеркивание текущей ссылки */
.site-nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2094f3;
  border-radius: 2px;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.modal-button, .button-mailing, .buttons {
  border-radius: 4px;
  color: #ffffff;
  background-color: #2094f3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  padding: 10px 55.5px;
  -webkit-transition: -webkit-box-shadow var(--time) var(--animation-function);
  transition: -webkit-box-shadow var(--time) var(--animation-function);
  transition: box-shadow var(--time) var(--animation-function);
  transition: box-shadow var(--time) var(--animation-function), -webkit-box-shadow var(--time) var(--animation-function);
}

.modal-button:hover, .modal-button:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mailing:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-mailing::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}

.buttons {
  padding: 10px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.buttons:hover, .buttons:focus {
  color: #2094f3;
  background-color: #ffffff;
}

.heroy {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
  background-size: cover;
  background-position: center;
}

.heroy__caption {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.heroy__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0%;
  margin-bottom: 30px;
}

.section, .section-workers {
  background-color: #ffffff;
  padding-bottom: 94px;
}

.section-top {
  padding-top: 94px;
}

.section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-top: 0%;
  margin-bottom: 50px;
}

.section-workers {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.features__description {
  line-height: 1.714;
  width: 270px;
  height: 75px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
}

.thumb:not(:last-child) {
  margin-right: 30px;
}

.posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posters__item {
  width: 370px;
}

.posters__item:not(:last-child) {
  margin-right: 30px;
}

/* Спозиционирован текст */
.posters__block {
  position: relative;
}

.posters__description {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.posters__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.workers__position {
  display: block;
  font-weight: normal;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.workers__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers__item:not(:last-child) {
  margin-right: 30px;
}

.workers__description {
  padding: 30px 32px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__links:hover, .social-list__links:focus {
  background-color: #2094f3;
  color: #ffffff;
}

.klient-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.klient-list__item {
  width: 170px;
  height: 90px;
}

.klient-list__item:not(:last-child) {
  margin-right: 30px;
}

.klient-list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  fill: currentColor;
  border-color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klient-list__links:hover, .klient-list__links:focus {
  fill: #2094f3;
  border-color: #2094f3;
}

.footer {
  background-color: #2f303a;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  color: #2094f3;
  margin-bottom: 20px;
}

.auth-footer__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-footer__link:hover, .auth-footer__link:focus {
  color: #2094f3;
}

.auth-footer {
  display: inline-block;
}

.auth-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-social-list__caption {
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  margin-left: 69px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.button-list__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__caption:hover, .button-list__caption:focus {
  color: #ffffff;
  background-color: #2094f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */