.button-list__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  transition: color var(--time) var(--animation-function),
    background-color var(--time) var(--animation-function),
    box-shadow var(--time) var(--animation-function);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button-list__item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item .button-item-icon:not(:last-child) {
  margin-right: 8px;
}
