//Colors
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: rgb(32, 148, 243);
$primary-white-color: #ffffff;
$footer-heroy-background-color: #2f303a;
$background-komandy: #f5f4fa;
$color-link-footer: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$bg-overlay-card: rgba(33, 150, 243, 0.9);
$color-header-border: #ececec;
//animation
$time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
//font
$body-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
//@at-root
$container-width: 1200px;
